<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-auto">
      <a class="nav-link" class="btn btn-warning btn-md m-2" routerLink="patata">Patata</a>
      <a class="nav-link" class="btn btn-success btn-md m-2" routerLink="pimiento">Pimiento</a>
      <a class="nav-link" class="btn btn-danger btn-md m-2" routerLink="tomate">Tomate</a>
    </div>


  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-auto">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


