<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-auto">
      <a class="nav-link" class="btn btn-warning btn-md m-2" routerLink="kiwi">Kiwi</a>
      <a class="nav-link" class="btn btn-success btn-md m-2" routerLink="melocoton">Melocotón</a>
      <a class="nav-link" class="btn btn-danger btn-md m-2" routerLink="papaya">Papaya</a>
    </div>


  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-auto">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


