<div class="container">
  <div class="d-flex justify-content-center">
    <img
      style="margin: 40px"
      width="500px"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRHdmvCBrq6iS2esMv1qX36x7NhLpMte1sKG05ZU_fIx1sFOI0"
      alt=""
    />
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-auto">
      <a class="nav-link" class="btn btn-warning btn-md m-2" routerLink="bd"
        >BD</a
      >
      <a class="nav-link" class="btn btn-success btn-md m-2" routerLink="fh"
        >FH</a
      >
      <a class="nav-link" class="btn btn-danger btn-md m-2" routerLink="lm"
        >LM</a
      >
      <a class="nav-link" class="btn btn-info btn-md m-2" routerLink="sor"
        >SOR</a
      >
    </div>
  </div>
  <div class="row d-flex">
    <div class="col-auto">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
