.clase1 {
  color: red;
  background-color: yellow;
}

.clase2 {
  color: white;
  background-color: black;
}

.clase3 {
  color: rgb(34, 124, 6);
  background-color: white;
}

.clase4 {
  color: rgb(253, 93, 253);
  background-color: blue;
}
