<mat-divider></mat-divider>
<form class="example-form" [formGroup]="miformulario">
  <table class="example-full-width" cellspacing="0">
    <tr>
      <td><mat-form-field>
          <mat-label>Id</mat-label>
          <mat-select required formControlName="id">
            <!-- <mat-option *ngFor="let empleado of empleados" value="{{empleado.id}}">{{ empleado.id }}</mat-option> -->
            <mat-option *ngFor="let numero of numeros" value="{{numero}}">{{ numero }}</mat-option>
          </mat-select>
          <mat-error *ngIf="miformulario.get('id')?.hasError('required')">Id obligatorio</mat-error>
        </mat-form-field>
      </td>

      <td><mat-form-field>
          <mat-label>Nombre</mat-label>
          <mat-select formControlName="nombre" name="nombre">
            <mat-option *ngFor="let empleado of empleados" value="{{empleado.nombre}}">{{ empleado.nombre
              }}</mat-option>
          </mat-select>
          <mat-error *ngIf="miformulario.get('nombre')?.hasError('required')">Nombre obligatorio</mat-error>
        </mat-form-field>
      </td>

      <td><mat-form-field>
          <mat-label>Dirección</mat-label>
          <mat-select formControlName="direccion" name="direccion">
            <mat-option *ngFor="let empleado of empleados" value="{{empleado.direccion}}">{{ empleado.direccion
              }}</mat-option>
          </mat-select>
          <mat-error *ngIf="miformulario.get('direccion')?.hasError('required')">Dirección obligatoria</mat-error>
        </mat-form-field>
      </td>

      <td><mat-form-field>
          <mat-label>Cargo</mat-label>
          <mat-select formControlName="cargo" name="cargo">
            <mat-option *ngFor="let empleado of empleados" value="{{empleado.cargo}}">{{ empleado.cargo }}</mat-option>
          </mat-select>
          <mat-error *ngIf="miformulario.get('cargo')?.hasError('required')">Cargo obligatorio</mat-error>
        </mat-form-field>
      </td>

      <td><mat-form-field>
          <mat-label>Edad</mat-label>
          <mat-select formControlName="edad" name="edad">
            <!-- <mat-option *ngFor="let empleado of empleados" value="{{empleado.edad">{{ empleado.edad }}</mat-option> -->
            <mat-option *ngFor="let edad of edades" value="{{edad}}">{{ edad }}</mat-option>
          </mat-select>
          <mat-error *ngIf="miformulario.get('edad')?.hasError('required')">Edad obligatoria</mat-error>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td><mat-form-field>
          <mat-label>Imagen</mat-label>
          <mat-select formControlName="imagen" name="imagen">
            <mat-option *ngFor="let empleado of empleados" value="{{empleado.imagen}}" (change)="mostrarImagen($event)">
              <img src="{{ empleado.imagen }}" alt=""></mat-option>
          </mat-select>
          <mat-error *ngIf="miformulario.get('imagen')?.hasError('required')">Imagen obligatoria</mat-error>
        </mat-form-field>
      </td>
    </tr>
    <mat-divider></mat-divider>
    <tr>
      <div *ngIf="miformulario.get('imagen')?.value">
        <img [src]="miformulario.get('imagen')?.value" alt="Imagen seleccionada">
      </div>
    </tr>
    <tr>
      <td>
        <button type="submit" (click)="EnviarDatos()" mat-raised-button color="accent"
          *ngIf="miformulario.valid">Reservar</button>
      </td>
      <td>
        <button type="reset" mat-raised-button color="warn">Resetear</button>
      </td>
    </tr>
  </table>
</form>
