<div class="container">
  <div class="d-flex justify-content-center">
    <img
      style="margin: 40px;"
      width="500px"
      src="https://quizizz.com/media/resource/gs/quizizz-media/quizzes/bcd03cae-7ef2-4dc4-8ab5-8d60bd2abc0b?w=200&h=200"
      alt=""
    />
  </div>

  <div class="row d-flex justify-content-center">
    <div class="col-auto">
      <a
        class="nav-link"
        class="btn btn-warning btn-md m-2"
        routerLink="despliegue"
        >Despliegue</a
      >
      <a class="nav-link" class="btn btn-success btn-md m-2" routerLink="diw"
        >DIW</a
      >
      <a class="nav-link" class="btn btn-danger btn-md m-2" routerLink="dwec"
        >DWEC</a
      >
      <a class="nav-link" class="btn btn-info btn-md m-2" routerLink="dwes"
        >DWES</a
      >
    </div>
  </div>
  <div class="row d-flex">
    <div class="col-auto">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
